@media only screen and (min-width:1200px){
    nav a {
        font-size: 1.5em;
    }

    body {
        background-image: url("/lesson2/weather/images/summer_3000_2249.jpg");
        background-position: bottom;
        font-size: 1.5rem;
    }

    #logo-text {
        font-size: 5rem;
    }
    
    #logo-description {
        font-size: 3rem;
    }

    nav {
        font-size: 1.2rem;
    }

    nav li a {
        font-size: 1em;
    }

    #logo {
        min-width: 180px;
    }

    #gallery-inner {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }

    /* FORMS */

    form label.your_details input, form label.your_details select, form .storm_details select, form label.storm_details input, form label.additional_info textarea {        padding: .4rem 0;
        /* padding: 0.4rem; */
        max-width: 30rem;
        padding-left: .4rem;
    }

    #storm_region {
        width: 100%;
        max-width: 30.5rem;
    }

    .storm_severity_section {
        max-width: 29rem;
        padding-right: 14px;
    }


    .contact img {
        margin: 0 auto;
        margin-right: 1em;
    }

    .contact-info img {
        max-width: 50px;
    }

    .socials img {
        max-width: 60px;
    }
}
