@media only screen and (min-width:1200px){
    nav a {
        font-size: 1.5em;
    }

    body {
        background-image: url("/lesson2/weather/images/summer_3000_2249.jpg");
        background-position: bottom;
        font-size: 1.5rem;
    }

    #logo-text {
        font-size: 5rem;
    }
    
    #logo-description {
        font-size: 3rem;
    }

    nav {
        font-size: 1.2rem;
    }

    nav li a {
        font-size: 1em;
    }

    #logo {
        min-width: 180px;
    }

    #gallery-inner {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }
}
