@media only screen and (min-width:1160px){
    nav a {
        font-size: 1.5em;
    }

    body {
        background-image: url("/lesson2/weather/images/summer_3000_2249.jpg");
        background-position: bottom;
        font-size: 1.5rem;
    }

    #logo-text {
        font-size: 5rem;
    }
    
    #logo-description {
        font-size: 3rem;
    }

    nav {
        font-size: 1.2rem;
    }

    nav li a {
        font-size: 1em;
    }

    #logo {
        min-width: 180px;
    }

    .article-img img {
        max-width: 150%;
        width: 40%;
    }

    .contact img {
        margin: 0 auto;
        margin-right: 1em;
    }

    .contact-info img {
        max-width: 50px;
    }
}

