@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-image: url("/lesson2/images/clouds.jpeg");
    background-attachment: fixed;
    background-size: cover;
    font-size: 1rem;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.6);  
    padding-bottom: 1em;
    text-align: center;
}

#logo-text, #logo-description {
    padding: 0px;
    background: none;
    align-items: center;
    color: black;
    padding-left: .5em;
}

#logo img{
    max-width: 80px;
    height: auto;
}

nav {
    background-color: #086788;
    max-width: 760px;
}

nav li {
    display: none;
}


nav a {
    display: block;
    text-decoration: none;
    color: white;
}

nav ul {
    margin: 0;
}

nav ul li {
    text-align: center;
    border: 1px solid #086788;
}

nav ul li a {
    padding: 0.5em;
}

nav ul li a:hover {
    background-color: #FFFFFF;
    color:#086788;
}  

.navigation {
    padding-inline-start: 0px;
}

.navigation li:first-child {
    display: block;
}

.responsive li{
    display: block;
}

main .section {
    background-color: lightblue;
    border: 1px dashed blue;
    margin: 0.4em 0;
}

h1, h2 {
    margin: 0px;
    padding: 4px;
    /* font-size: calc(100% + 2vw); */
    word-wrap:break-word;
    white-space: normal;
}

h1 {
    background-image: linear-gradient(to right, #086788, white); 
    color: white;       
}

main h2 {
    background-image: linear-gradient(to right, #07a0c3, white)
}

.highlighted-text {
    background-color: #FE5F55;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px ;
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255,255,255,.8);
    height: 100%;
    border: 1px solid grey;
}

main p, a {
    padding-left: 1em;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.hero img, p {
    grid-row: 1 / 2;
}

.hero img {
    grid-column: 1 / -1;
    max-width: 100%;
    min-width: 100%;
}

.hero p {
    grid-row: auto;
}

/* .fiveDay {
    display: grid;
    grid-template-columns: 1fr 3fr;
} */

.fiveDay img, p {
    grid-row: 1 / 2;
}

.fiveDay img {
    grid-column: 1 / -1;
    max-width: 100%;
    min-width: 100%;
}

.fiveDay p {
    grid-row: auto;
}

footer {
    display: block;
}

footer ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

footer li {
    font-size: 80%;
    text-align: center;
    display: inline-block;
    flex: 1 1 100%;
    padding: 5px;
}

footer li:nth-child(2){
    border-left: 1px solid #086788;
    border-right: 1px solid #086788;
}

footer p {
    display: block;
    text-align: center;
    font-size: 80%;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

/* Colour scheme page css */
#color-schemes-1 {
    background-color: #086788;
}

#color-schemes-2 {
    background-color: #07a0c3;
}
#color-schemes-3 {
    background-color: #FE5F55;
}
#color-schemes-4 {
    background-color: #f3de8a;
}
#color-schemes-5 {
    background-color: #FFFFFF;
}

.tile {
    border: 1px solid grey;
    display: block;
    width: calc(93% / 5);
    float: left;
    height: 100vh;
    padding: 5px;
}