@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-image: url("../../lesson2/weather/images/clouds.jpeg");
    background-attachment: fixed;
    background-size: cover;
    font-size: 1rem;
    margin: 0;
}


#header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.6);  
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

#logo-text, #logo-description {
    padding: 0px;
    background: none;
    align-items: center;
    color: black;
    padding-left: .5em;
}

#logo-text {
    font-size: 2.5rem;
}

#logo img{
    max-width: 80px;
    height: auto;
}

nav {
    background-color: #086788;
    max-width: 760px;
}

nav li {
    display: none;
}


nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul {
    margin: 0;
}

nav ul li {
    text-align: center;
    border: 1px solid #086788;
}

nav ul li a {
    padding: 0.5em;
}

nav ul li a:hover {
    background-color: #FFFFFF;
    color:#086788;
}  

.navigation {
    padding-inline-start: 0px;
}

.navigation li:first-child {
    display: block;
}

.responsive li{
    display: block;
}

main .section {
    background-color: rgb(227, 244, 250);
}

h1, h2, h3, h4 {
    margin: 0px;
    padding: 4px;
    word-wrap:break-word;
    white-space: normal;
}

h4 {
    color: #086788;
    font-size: smaller;
    padding-left: 2em;
}

h1 {
    background-image: linear-gradient(to right, #086788, white); 
    color: white;       
}

h3 {
    padding-left: 1em;
}

a {
    text-decoration: none;
    color: #086788;
}

main h2 {
    background-image: linear-gradient(to right, #07a0c3, white)
}

.highlighted-text {
    background-color: #FE5F55;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px ;
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255,255,255, .5);
    /* height: 100%; */
    border: 1px solid grey;
    padding-bottom: 1em;
}

main p, a {
    padding-left: 1em;
}

/* FOOTER STYLING HERE */

.contact {
    background-color: rgba(255, 255, 255, 0.6);
    /* background-color: white; */
    padding-left: 1em;
    padding: 1em 0;
}

.contact img {
    max-width: 90%;
    margin: 0 1em;
}

.contact-info img {
    max-width: 25px;
}


#map {
    width: 100%;
    border: 1px solid #999;
}

footer {
    display: block;
    background-color: #086788;
    color: white;
    padding: .2em 0;
}

footer ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

footer li {
    font-size: 80%;
    text-align: center;
    display: inline-block;
    flex: 1 1 100%;
    padding: 5px;
}

footer li:nth-child(2){
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 1rem;
}

footer p {
    display: block;
    text-align: center;
    font-size: 80%;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

.activeLink {
    background-color: #07a0c3;
}

.socials {
    display: none;
}

/* START INDIVIDUAL PAGE SECTION HERE */
.content p {
    margin-top: .5rem;
    font-size: 1rem;
    padding-right: 1rem;
}

.content h2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content h3 {
    font-size: 1.3rem;
    padding-left: 1rem;
}

.content {
    text-align: center;    
    border: 1px solid #999;
    border-radius: 10px;
    margin: 1rem;
    background-color: rgba(255,255,255,.8);
}

.content img {
    padding: 1rem 0 0 0;
    max-width: 100%;
}

.content h2, .content h3, .content p {
    text-align: left;
}

.content figure {
    background-color: white;
    border: 1px solid #999;
    box-shadow: 5px 5px 5px #999;
    width: fit-content;
    padding: 0 1rem;
    margin: 1rem auto;
    max-width: 80%;
}

.town-info {
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 1rem;
    border: 1px solid #999;
    margin-bottom: 1rem;
}

.town-banner {
    border: 1px solid #999;
    position: relative;
}

.town-banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
}

.town-banner-content {
    position: absolute;
    width: 100%;
}

.town-banner-content p {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255, 0.6);
    padding: 0;
}

.town-banner-content p:nth-child(1){
    font-size: 3rem;
}

.town-banner-content p:nth-child(2){
    font-size: 1.5rem;
}

.block-img {
    display: none;
}